<div class="section">
	<ul class="columns-content page-content clearfix">
    	<li class="col-sidebar">
        	<div class="the-title">
        		<h2>All User</h2>
    		</div>
            <div class="box-userStats">
            	<h1 class="statsNo brown">15,324</h1>
                <div class="gender-stats">
                	<img src="{$assets_domain}images/men.png" />
                    <h4>11,323</h4>
                </div>
                <div class="gender-stats">
                	<img src="{$assets_domain}images/women.png" />
                    <h4>40,001</h4>
                </div>
            </div>
        </li>
        <li class="col-main">
        	<div class="menu_charts">
            	<input type="text"  id="from" name="from"><span>-</span>
            	<input type="text"  id="to" name="to" /><a href="#" class="calendar"></a>
            </div>
        	<div class="box-chart">
            	<img src="{$assets_domain}images/charts.jpg" />
            </div>
        </li>
    </ul><!---end.columns-content page-content clearfix-->
    <div class="accordion">                           
        <h3 class=""><span>Login User</span>
        <a class="icon_arrow expand" href="#">Click to Expand</a>
        <a class="icon_arrow_grey hide2" href="#">hide</a> </h3>
        <div class="acc_section">
        	<div class="acc_sectionLeft">
            	<div class="acc_userStats">
            		<h1 class="statsNo green">15,324</h1>
                    <div class="acc_gender-stats">
                        <img src="{$assets_domain}images/men_kecil.png" />
                        <h4>11,323</h4>
                    </div>
                    <div class="acc_gender-stats">
                        <img src="{$assets_domain}images/women_kecil.png" />
                        <h4>40,001</h4>
                	</div>
            	</div>
            </div><!--end.acc_sectionLeft-->
            <div class="acc_sectionRight">
            	<div class="acc_boxChart">
                	<img src="{$assets_domain}images/charts.jpg" />
                </div>
            </div><!--end.acc_sectionRight-->
        </div><!--end.acc_section-->
        <h3 class=""><span>Active User</span>
        <a class="icon_arrow expand" href="#">Click to Expand</a>
        <a class="icon_arrow_grey hide2" href="#">hide</a> </h3>
        <div class="acc_section">
        	<div class="entry-accordion">
                <div class="acc_sectionLeft">
                    <div class="acc_userStats">
                        <h1 class="statsNo green">15,324</h1>
                        <div class="acc_gender-stats">
                            <img src="{$assets_domain}images/men_kecil.png" />
                            <h4>11,323</h4>
                        </div>
                        <div class="acc_gender-stats">
                            <img src="{$assets_domain}images/women_kecil.png" />
                            <h4>40,001</h4>
                        </div>
                    </div>
                </div><!--end.acc_sectionLeft-->
                <div class="acc_sectionRight">
                    <div class="acc_boxChart">
                        <img src="{$assets_domain}images/charts.jpg" />
                    </div>
                </div><!--end.acc_sectionRight-->
            </div>
        </div><!--end.acc_section-->
        <h3 class=""><span>Very Active User</span>
        <a class="icon_arrow expand" href="#">Click to Expand</a>
        <a class="icon_arrow_grey hide2" href="#">hide</a> </h3>
        <div class="acc_section">
        	<div class="acc_sectionLeft">
            	<div class="acc_userStats">
            		<h1 class="statsNo green">15,324</h1>
                    <div class="acc_gender-stats">
                        <img src="{$assets_domain}images/men_kecil.png" />
                        <h4>11,323</h4>
                    </div>
                    <div class="acc_gender-stats">
                        <img src="{$assets_domain}images/women_kecil.png" />
                        <h4>40,001</h4>
                	</div>
            	</div>
            </div><!--end.acc_sectionLeft-->
            <div class="acc_sectionRight">
            	<div class="acc_boxChart">
                	<img src="{$assets_domain}images/charts.jpg" />
                </div>
            </div><!--end.acc_sectionRight-->
        </div><!--end.acc_section-->
        <h3 class=""><span>Super User</span>
        <a class="icon_arrow expand" href="#">Click to Expand</a>
        <a class="icon_arrow_grey hide2" href="#">hide</a> </h3>
        <div class="acc_section">
        	<div class="acc_sectionLeft">
            	<div class="acc_userStats">
            		<h1 class="statsNo green">15,324</h1>
                    <div class="acc_gender-stats">
                        <img src="{$assets_domain}images/men_kecil.png" />
                        <h4>11,323</h4>
                    </div>
                    <div class="acc_gender-stats">
                        <img src="{$assets_domain}images/women_kecil.png" />
                        <h4>40,001</h4>
                	</div>
            	</div>
            </div><!--end.acc_sectionLeft-->
            <div class="acc_sectionRight">
            	<div class="acc_boxChart">
                	<img src="{$assets_domain}images/charts.jpg" />
                </div>
            </div><!--end.acc_sectionRight-->
        </div><!--end.acc_section-->
        <h3 class=""><span>Unverified User</span>
        <a class="icon_arrow expand" href="#">Click to Expand</a>
        <a class="icon_arrow_grey hide2" href="#">hide</a> </h3>
        <div class="acc_section">
        	<div class="acc_sectionLeft">
            	<div class="acc_userStats">
            		<h1 class="statsNo green">15,324</h1>
                    <div class="acc_gender-stats">
                        <img src="{$assets_domain}images/men_kecil.png" />
                        <h4>11,323</h4>
                    </div>
                    <div class="acc_gender-stats">
                        <img src="{$assets_domain}images/women_kecil.png" />
                        <h4>40,001</h4>
                	</div>
            	</div>
            </div><!--end.acc_sectionLeft-->
            <div class="acc_sectionRight">
            	<div class="acc_boxChart">
                	<img src="{$assets_domain}images/charts.jpg" />
                </div>
            </div><!--end.acc_sectionRight-->
        </div><!--end.acc_section-->
    </div><!---end.accodrion-->
</div><!--end.section-->
<div id="cont"></div><br/>
<div id="container2"></div><br/>
<div id="container3"></div>

<script type="text/javascript">

	var thedata = {$cobaData};
	var thedata2 = {$cobaData2};
	var thedata3 = {$cobaData3};
	
{literal}	
$(function () {

	console.log(thedata);
	var dataCoba = new Array();
	var celciuses = new Array();
	var dataCoba2 = new Array();
	var dataCoba3 = new Array();

	for(var dataArr in thedata){
		dataCoba.push(parseInt(thedata[dataArr],10));
		celciuses.push(String(dataArr));
	}
	for(var dataArr2 in thedata2){
			dataCoba2.push(parseInt(thedata2[dataArr2],10));
			//celciuses.push(String(dataArr));
	}
	for(var dataArr3 in thedata3){
			dataCoba3.push(parseInt(thedata3[dataArr3],10));
			//celciuses.push(String(dataArr));
	}
		
		
    
	gethighChart('column','test  Chart','cont',dataCoba,celciuses,1,true);
	gethighChart('line','test  Chart','container2',dataCoba2,celciuses,1,true);
	gethighChart('column','test  Chart','container3',dataCoba3,celciuses,1,true);
	
	
	//drillDownChart('column','test Chart','container',dataCoba,cateActivityGroup,1 ,false);
	});
		
</script>
{/literal}
